<nav [class]="navTheme">
    <a class="navbar-brand" href="#">
        <img *ngIf="currentTheme === 0" src="assets/img/flower.png" class="logo" />
        <img *ngIf="currentTheme === 1" src="assets/img/cat.png" class="logo" />
        Les Recettes de Lucette
    </a>
    <button [class]="btnTheme" (click)="onThemeChange()">Mode {{ btnTexts[currentTheme] }}</button>
</nav>
<div [class]="containerTheme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-md-8 col-lg-4">
                <app-recipe-list></app-recipe-list>
            </div>
        </div>
    </div>
</div>