<nav [class]="navTheme">
    <a class="navbar-brand" href="#">
        <img *ngIf="currentTheme === 0" src="assets/img/flower.png" class="logo" />
        <img *ngIf="currentTheme === 1" src="assets/img/cat.png" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="recipes">Parcourir</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="write">Créer</a></li>
        </ul>
        <button [class]="btnTheme" (click)="onThemeChange()">Mode {{ btnTexts[currentTheme] }}</button>
    </div>
</nav>
<div [class]="containerTheme">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
