<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Nouvelle recette</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">
                    Nom
                </label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="quantity">
                    Quantité
                </label>
                <input type="number" id="quantity" class="form-control" name="quantity" ngModel required>
            </div>
            <div class="form-group">
                <label for="description">
                    Description
                </label>
                <textarea id="description" class="form-control" rows="4" name="description" ngModel required></textarea>
            </div>
            <div class="form-group">
                <label for="image">
                    Image
                </label>
                <input id="image" type="file" (change)="onFileChanged($event)" name="image" ngModel required>
            </div>
            <button class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
        </form>
    </div>
</div>
