/* You can add global styles to this file, and also import other style files */

body {
    height: 100vh;
}

.bg-light .btn-link {
  color: lightsalmon;
}

.bg-dark .btn-link {
  color: green;
}

.bg-light em {
    color: lightsalmon;
}

.bg-dark em {
    color: green;
}
